/build

/.idea

# результаты тестов
/research/bca/*.json
!/research/bca/47blocks_1try/bestResult.json

# для генерации графов использовать python скрипт
/research/**/*.html

research/bca/__pycache__/

**/__pycache__