/build

/.idea

# результаты тестов
/research/bca/*.json
!/research/bca/47blocks_1try/bestResult.json

# для генерации графов использовать python скрипт
/research/**/*.html

research/bca/__pycache__/

**/__pycache__

# FRONTEND
#generated
frontend/wailsjs
frontend/dist
# dependencies
frontend/node_modules
# pnp
frontend/.pnp
.pnp.js
# tests
frontend/coverage
# build
frontend/build

**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
# misc
/**/react-app-env.d.ts