html, body, #app {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    user-select: none;
    -webkit-user-select: none;
}

body {
    background: white;
    position: fixed;
}

div.stats {
    right: 0;
    left: initial !important;
}

.floater {
    position: absolute;
    display: flex;
    z-index: 2;
    margin: 7px 0;

    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.hidden-left {
    transform: translateX(-110%);
}

.hidden-right {
    transform: translateX(110%);
}

.floater-close-button {
    position: absolute !important;
    top: 6px;
    right: -33px;

    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.fab {
    margin: 0 !important;
}

.column {
    flex-flow: column;
}

.row {
    flex-flow: row;
    margin: 15px;
}

.row > * {
    margin-right: 15px !important;
}


.simple-paper {
    display: flex !important;
    flex-flow: column !important;
    background: white;
    margin: 8px 15px;
}

.menu-elements-wrapper {
    display: flex !important;
    flex-flow: column !important;
    padding: 8px 15px;
}

.menu-elements-wrapper > * {
    margin: 3px 0;
}

.menu-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    background: #3f51b5;
    border-radius: 4px 4px 0 0;
    color: white;
    margin-bottom: 3px;
}

.text-field {
    margin: 10px 0 !important;
}

.button-group {
    margin: 0 0 8px 0;
}

.button-group > button {
    flex: 1;
}

.blocks-table th, td {
    padding: 10px 12px;
}

.blocks-table {
    display: block !important;
}

.blocks-table tbody > tr > td:last-child {
    padding: 0;
}

.blocks-table-changeable-cell input {
    width: 50px !important;
}

.algorithm-menu {
    width: 360px;
}

#start-button {
    margin: 10px 0 7px 0;
}

.switch {
    justify-content: space-between;
    margin-left: 0 !important;
}

.save-load {
    max-width: 300px;
}

.save-load button {
    text-transform: none;
    margin: 10px 0;
}

.save-load > div p {
    padding: 0 2px 20px 2px;
    color: rgb(90, 90, 90);
}

.save-load > div p:last-of-type {
    padding-bottom: revert;
}

.algorithm-menu .selector:first-child {
    margin-top: 7px;
}

.algorithm-menu .selector:nth-child(2) {
    margin-top: 15px;
}

#add-generate-buttons {
    display: flex;
    flex-flow: column;
    margin: 0 10px 10px 10px;
}

#add-generate-buttons > button {
    margin-bottom: 10px;
}

#add-generate-buttons > button:nth-child(1) svg {
    margin-left: 12px !important;
}

#add-generate-buttons > button:last-child {
    margin-bottom: 7px;
}

#show-packed-button {
    margin: 10px 0 7px 0;
}

.packed {
    /*font-weight: bolder;*/
}

.not-packed {
    /*font-weight: bolder;*/
    color: gray;
}


.algorithm-result {
    max-height: 400px;
    overflow-y: auto;
}

.algorithm-result button {
    min-height: 37px;
}